html{
    font-size: 62.5%;
} 

*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    color: beige;
    box-sizing: border-box;
    
}

:root{
    color: beige; 

 }

body{
    background: url(../../img/background_carbon.png);
    background-size:cover;
    background-repeat:no-repeat;
    
}

h1{
    text-align: center;
    font-size: 3rem ;
    animation: rubberBand 1s 1 linear;
    
}
h2{
    font-size: 2rem;
}
h3{
    font-size: 1.6rem;
    text-align: center;
}
p{
    font-size: 1.6rem;
}

/* HEADER */

.header{
    background-color:rgba(0, 0, 0, 0.616);
    border: 2px solid;
    margin: 0.5rem;
    border-radius: 3.2rem;
    color: beige;
       
}

.navbar{
    box-sizing: border-box;
    
}

.header__anchor:hover{
    color: red;
}



.header__logo{
    background-color: transparent;
    max-width: 20rem ;
    animation: appear 1.3s 1 linear;
  
}

.header__anchor{
    color: beige;
    text-decoration: none;
}

.header__menu{
    
    padding: 1rem;
    align-items:center;
    font-size: 2em;
    
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(245,245,220, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    border: 1px;
  }
  
  .custom-toggler.navbar-toggler {
    border-color: beige;
    border-width: 2px;
  } 


/* HEADER END */

/* INDEX MAIN*/

/* HERO */
.hero{
    background-image: url(../../img/fondo1.jpg);
    background-position: center;
    padding: 3rem;
    background-size: cover;
    background-repeat:no-repeat;
    height: 75vh;
    position:relative;
    display: flex;
    justify-content:center;
    align-items: center top;
    padding: 3.2rem 1.6rem;
    box-sizing: content-box;
    
}


.hero__box .hero__slogan {
    text-align: center;
    text-decoration:solid;
    line-height: 11.2rem ;
    font-size: 6.4rem;
    -webkit-text-stroke: 1px beige;
    font-family: Arial, Helvetica, sans-serif; color: #966F33;
    font-weight:bolder;
    box-sizing:border-box;
}

.hero__fondo{
    margin: auto;
    display: block;
    align-content: center;
}


/* HERO END */

.unionCajasServicios div a {
    background-color: rgb(66, 64, 64);
    color: #f0dfc6;
    border-radius: 10px;
  }

.card {
    border-radius: 1rem;
    border: solid;
    max-width: 100%;
    background-color: black;    
    border-color:beige;
  }

  .card-body{
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: black;
    text-align: justify;
    flex-direction: column;
    padding-bottom: 0.5rem;
    align-self: center;
  }


/* INDEX MAIN END */

/* FOOTER */

footer{
    
    display: flex;
    justify-content:space-between;
    align-items:flex-start ;
    
    
}

.footer__row{
    background-color: rgba(56, 56, 54, 0.616);
    border: 2px solid;
    border-radius: 3.2rem;
    font-size: 1.4rem;
    padding: 0.5rem;
    margin: 0.5rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.footer__logo{
    background-color: transparent;
    max-width: 200px ;
    height:min-content;
}

.footer__col{
    width: 20%;
    padding: 0px;
    justify-content: center;
 }

 .footer__col h3{
    text-align: center;
 }

 .footer__col .social-links{
    display: flex;
    justify-content:center 
    
 }

 .footer__col .social-links .social-links__logo{
    margin: 1rem;

 }

 

 
/* FOOTER END */

/* CONTACTO FORMULARIO */

.contactenos{
    text-align: center;
}

.form{
    padding: 1.6rem;
    display: flexbox;
    width: 50rem;
    margin: 0 auto;
    font-size: 1.6rem;
}

fieldset{
    background: #222222;
}

legend{
    display: inline;
    text-align: center;
}

.form label {
    display: block;
}


.form div {
    margin: 0;
    padding: 0.8rem;
}

.form div .block{
    grid-column: 1 / 3;
}

.form button,
.form input:not([type="radio"]),
.form textarea{
    width: 99%;
    padding: 0.7rem;
    border: none;
    background: none;
    outline: 0;
    color: beige;
    border-bottom: 1px solid #d63031;
}


.form button{
    background: #B70E21;
    border: 0;
    text-transform:uppercase;
    font-size: 1.6rem;
    padding: 1.6rem;
}
/* CONTACTO FORMULARIO END */
 
/* NOSOTROS */
#galeria_nosotros img{
    width: 100%;
    height: 100%;
}

#galeria_nosotros iframe{
    width: 56rem;
    height: 31.5rem;
   
}



/* NOSOTROS END */

/*SERVICIOS*/
#galeria_servicios img{
    width: 100%;
    height: 100%;
}

#galeria_servicios .col-lg-4{
    padding: 1rem;
}


/* SERVICIOS END */

/* PRODUCTOS */
#galeria_productos .col-lg-4{
    padding: 1.5rem;
    
}


#galeria_productos img{
    width: 100%;
    height: 100%;
}

#galeria_productos img:hover{
    border: 5px solid black;
}



/* PRODUCTOS END */
@media(max-width: 768px){
    .footer__col{
      width: 50%;
      margin-top: 10%;
      margin-bottom: 10px;
      justify-content: center;
      align-items: center;
      justify-content: center;
      padding: 0.5rem
  }
  }
  @media(max-width: 476px){
    .footer__col{
      width: 100%;
      padding: 0.5rem;
      margin: 0.5rem;
      justify-content: center;
      margin-top: 1rem;
      align-items: center;
      justify-content: center;
  }
 
  @media(max-width: 445px){
    .hero__box .hero__slogan {
        font-size: 5.4rem;

    }
  
  }
 
  
  }


  @keyframes appear {
    0% {transform: translate(-500px);
        opacity: 0;}
    100% {transform: translate(0);
        opacity: 1;}
  }

    
  @keyframes rubberBand{
    0%{
        transform: scale3d(1,1,1);
    }
    35%{
        transform: scale3d(1.25,.75,1);
    }
    45%{
        transform: scale3d(.75,1,1);
    }
    60%{
        transform: scale3d(1.2,.8,1);
    }
    75%{
        transform: scale3d(1.05,.95,1);
    }
    100%{
        transform: scale3d(1,1,1); 
    }}