/* PAGE CONTACTO FORMULARIO */

.form{
    padding: 1.6rem;
    display: flexbox;
    width: 50rem;
    margin: 0 auto;
    font-size: 1.6rem;
    fieldset{
        background: $color-sexto;
        legend{
            display: inline;
            text-align: center;
        }
    }
    label {
        display: block;
    }
    div {
        margin: 0;
        padding: 0.8rem;
        .block{
            grid-column: 1 / 3;
        }
    }
    button,
    input:not([type="radio"]),
    textarea{
        width: 99%;
        padding: 0.7rem;
        border: none;
        background: none;
        outline: 0;
        color: $color-primero;
        border-bottom: 1px solid $color-segundo;
    }
    button{
        background: $color-segundo;
        border: 0;
        text-transform:uppercase;
        font-size: 1.6rem;
        padding: 1.6rem;
    }
    
}

/* PAGE CONTACTO FORMULARIO END */