/* PAGE NOSOTROS */
#galeria_nosotros{
    img{
        @include image-size;
    } 
    iframe{
        width: 56rem;
        height: 31.5rem;       
    }
    .gallery__item{
        padding: 0.5rem;
    }

}


/* PAGE NOSOTROS END */