html{
    font-size: 62.5%;
} 

*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    color: $color-primero;
    box-sizing: border-box;
    
}

:root{
    color: $color-primero; 

}

body{
    background: url(../../img/background_carbon.png)no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover
    
}